
.send{
    display: flex;
    width: 100%;
    justify-content: center;
}
.InputEmail{
    width: 12%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 1px #dfdfdf;
    background-color: #fff;
    padding: 7px;
}
