.SendButton{
    width: 3%;
    padding: 7px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #0b8071;
    border: #0b8071;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}